<body id="page-home" class="page-home layout- -displaying-bnr">

<%- partial('../_components/page-header') %>

<%- partial('../_components/page-sidebar') %>

<%- partial('../_components/homepage/jumbotron') %>

<%- partial('../_components/homepage/feature-auto') %>

<%- partial('../_components/homepage/feature-iterate') %>

<%- partial('../_components/homepage/feature-clone') %>

<%- partial('../_components/homepage/demo') %>

<%- partial('../_components/homepage/cta') %>

<%- partial('../_components/page-footer') %>


<%- js('js/jquery-3.1.0.min') %>
<%- js('js/application') %>

</body>
